<div class="menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/contact/">Контакты</a></li>
                <li><a href="/obout/">О нас</a></li>
                <li><a href="/programs/">Программы</a></li>
                <li><a href="/category/">Категории</a></li>
                <li><a href="/users/">Пользователи</a></li>
                <li class="dropdown">
                    <a href="/register_user/">
                        <img width="15px" src="data:image/png;base64,{{ objects_name['image_register'] }}" alt="register">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Вход</a></li>
                        <li><a href="/register_user/">Регистрация</a></li>
                    </ul>
                </li>
            </ul>
</div>