    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <style type="text/css">
    @font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-medium.ttf);
    font-weight: 500;
}

.wrapper header.header .logo h2 {
    margin: 0 0 0 40px;
    padding: 0;
}

.wrapper header.header .logo h2 a {
    color: #061e37;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 70px;
    padding: 22px 0;
    text-transform: uppercase;
}

.wrapper header.header .menu ul {
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.wrapper header.header .menu ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 -4px 0 0;
}

.wrapper header.header .menu ul li a {
    color: rgb(6, 30, 55);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 70px;
    padding: 26px 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper header.header .menu ul li.active a {
    background: #40c4ff;
    color: #fff;
}

.wrapper header.header .menu ul li a:hover {
    background: #40c4ff;
    color: #fff;
}

.wrapper section.bg-text-area .bg-text {
    background-size: 100% 100%;
    padding: 205px 280px;
}

.wrapper section.bg-text-area .container {}

.wrapper section.bg-text-area .bg-text h3 {
    color: #fff;
    font-family: Geometria;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.wrapper section.bg-text-area .bg-text p {
    color: #fff;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 500;
    line-height: 33px;
    margin: 32px 0 0;
    text-align: center;
}

section.blog-post-area {
    margin-top: 50px;
}

section.blog-post-area {
    float: left;
    width: 50%;
    padding-right: 35px;
}

section.blog-post-area .big-text {
    float: right;
    width: 50%;
    padding-right: 20px;
}

section.blog-post-area {
    width: 100%;
}

section.blog-post-area .big-text h3 {
    margin: 10px 0 0;
}

section.blog-post-area .big-text h3 a {
    font-family: Geometria;
    font-weight: 700;
    font-size: 40px;
    color: #061e37;
    text-decoration: none;
}

section.blog-post-area .big-text p {
    color: #061e37;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 18px;
    text-align: justify;
    text-decoration: none;
}

section.blog-post-area .big-text h4 {
    margin-top: 25px;
    padding-top: 30px;
    position: relative;
}

section.blog-post-area .big-text h4::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

section.blog-post-area .single-post {
    padding-right: 20px;
    margin: 100px 0px 0px;
}

section.blog-post-area h4 span {
    font-family: Geometria;
    font-weight: 400;
    font-size: 15px;
    color: #061e37;
    text-decoration: none;
}

section.blog-post-area .big-text h4 span.author {
    float: right
}

section.blog-post-area h4 span.author-name {
    font-weight: 500;
}

.blog-post-area .single-post h3 a {
    font-family: Geometria;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    color: #061e37;
}

.blog-post-area .single-post p {
    color: #061e37;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 14px;
    position: relative;
    text-align: justify;
}

.blog-post-area .single-post h4 {
    margin-bottom: 12px;
    padding-top: 10px;
    position: relative;
}

.blog-post-area .single-post h4::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.blog-post-area .single-post p::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.blog-post-area .single-post h3 {
    margin: 25px 0 15px;
}

.blog-post-area .pegination {
    margin-top: 60px;
    margin-bottom: 200px;
}

.blog-post-area .pegination .nav-links {
    margin: 0;
    padding: 0;
    text-align: center;
}

.blog-post-area .pegination .nav-links .page-numbers {
    border: 1px solid #448aff;
    border-radius: 50%;
    color: #448aff;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    list-style: outside none none;
    margin-right: 5px;
    text-align: center;
    width: 45px;
}

.blog-post-area .blog-post-area-style {
    margin: 0 30px 184px 40px;
}

.blog-post-area .pegination .nav-links .page-numbers.current {
    background: #448aff;
    color: #fff;
}

.blog-post-area .pegination .nav-links .page-numbers:hover {
    background: #448aff;
    color: #fff;
}

.blog-post-area .pegination .nav-links a {
    text-decoration: none;
}

.wrapper footer.footer {
    height: 130px;
}

.wrapper footer .footer-bg {
    background: #000 none repeat scroll 0 0;
    height: 130px;
    overflow: hidden;
}

.wrapper footer.footer .footer-menu {
    margin: 0
}

.wrapper footer.footer .footer-menu ul {
    line-height: 130px;
    margin: 0;
    padding: 0;
}

.wrapper footer.footer .footer-menu ul li {
    display: inline;
    list-style: outside none none;
    margin: 0;
    padding: 30px 0px;
}

.wrapper footer.footer .footer-menu ul li a {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 70px;
    margin-left: 40px;
    padding: 26px 10px 26px 0;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper footer.footer .footer-icon p {
    float: right;
    line-height: 130px;
}

.wrapper footer.footer .footer-icon p i {
    color: #fff;
    font-size: 18px;
    margin-right: 30px;
    padding: 10px;
}


/*css for single blog page*/

.single-blog-area {
    margin-bottom: 100px;
}

.single-blog-area .border-top {
    border-top: 1px solid #40c4ff;
}

.single-blog-area h2 {
    color: #010101;
    font-family: Geometria;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 60px;
    margin-top: 45px;
}

.single-blog-area p {
    font-family: Geometria;
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    position: relative;
    text-align: justify;
}

.single-blog-area .blog-area-part p {
    margin-top: 30px;
}

.single-blog-area .for-style {
    margin-bottom: 50px;
}

.single-blog-area .for-style p span {
    color: #40c4ff;
    float: left;
    font-family: Geometria;
    font-size: 60px;
    font-weight: 400;
    margin: 18px 30px 20px 20px;
    position: relative;
}

.single-blog-area .for-style p span.drop_caps::before {
    color: #40c4ff;
    content: "”";
    font-size: 40px;
    left: -20px;
    position: absolute;
    top: -7px;
    font-weight: 500;
}

.single-blog-area .for-style p span::after {
    color: #40c4ff;
    content: "”";
    font-size: 40px;
    right: -15px;
    position: absolute;
    top: -7px;
    font-weight: 500;
}

.single-blog-area h3 {
    color: #757575;
    font-family: Geometria;
    font-size: 38px;
    font-style: italic;
    font-weight: 500;
    line-height: 65px;
    margin-bottom: 25px;
    word-spacing: 15px;
}

.single-blog-area h3 i.fa-quote-left {
    float: left;
    font-size: 55px;
    font-style: italic;
    margin-right: 20px;
    margin-top: 10px;
    color: #eeeeee;
}

.single-blog-area h3 i.fa-quote-right {
    display: inline-block;
    font-size: 55px;
    font-style: italic;
    margin-left: 20px;
    color: #eeeeee;
}

.single-blog-area .image-one {
    padding-right: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.single-blog-area .image-two {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
}

.single-blog-area img {
    width: 100%
}

.single-blog-area .blog-area {
    margin-right: 40px;
}

.single-blog-area .ads-area {
    border-top: 1px solid #e6e6e6;
    margin-top: 30px;
    padding: 50px 0;
    position: relative;
}

.single-blog-area .ads-area img {
    width: 100%;
    height: 90px;
    padding: 0 60px;
}

.single-blog-area .ads-area p {
    color: #fff;
    font-family: Geometria;
    font-size: 33px;
    font-weight: 500;
    line-height: 150px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 100%;
}


/*comment part start*/

.single-blog-area .commententries h3 {
    color: #000;
    font-family: Geometria;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
    position: relative;
}

.single-blog-area .commententries h3::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.single-blog-area .commententries ul {
    margin: 0;
    padding: 0;
}

.single-blog-area .commententries ul ul {
    margin-left: 60px;
}

.single-blog-area .commententries ul li article.comment {
    padding-bottom: 13px;
    padding-top: 30px;
    position: relative;
}

.single-blog-area .commententries ul li article.comment:before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    bottom: 0;
}


}
.single-blog-area .commententries .author-name h5 a {
    font-family: Geometria;
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}
.single-blog-area .commententries .author-name h5 a {
    color: #000;
    font-family: Geometria;
    font-size: 21px;
    font-weight: 500;
    line-height: 10px;
    color: #000;
    text-decoration: none;
}
.single-blog-area .commententries .author-name p {
    color: #000;
    font-family: Geometria;
    font-size: 13px;
    font-weight: 500;
    line-height: 10px;
    color: #989191
}
.single-blog-area .commententries .comment-body p {
    font-family: Geometria;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: #989191
}
.single-blog-area .commententries .reply p span {
    color: #989191;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
}
.single-blog-area .commententries .reply p span i {
    color: #989191;
    margin-right: 10px;
}
.single-blog-area .commententries ul {
    overflow: hidden;
}
.single-blog-area .commententries ul li {
    list-style: none
}
.commententries .comment-author {
    border-radius: 50%;
    float: left;
    height: 55px;
    width: 55px;
}
.commententries .comment-details {
    margin-left: 70px;
}
.single-blog-area form input {
    border: 1px solid #e6e6e6;
    margin: 0;
    padding: 12px 22px;
    border-radius: 5px;
    width: 100%
}
.single-blog-area form input[placeholder] {
    color: #000;
    font-family: Geometria;
    font-size: 16px;
    font-weight: 500;
}
.single-blog-area form .name {
    float: left;
    margin-bottom: 15px;
    width: 50%;
}
.single-blog-area form .email {
    width: 50%;
    float: right;
}
.single-blog-area form .name input {
    width: 95%;
}
.single-blog-area form .name .name {
    margin-right: 20px;
}
.single-blog-area form .email input {
    width: 95%;
}
.single-blog-area form .comment {
    margin-right: 150px;
}
.single-blog-area form .post {
    bottom: 0;
    position: absolute;
    right: 0;
}
.single-blog-area form .post input[type="submit"] {
    background: #40c4ff none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 38px;
    right: -150px;
    text-transform: uppercase;
    width: auto;
}
.single-blog-area form {
    margin: 50px 0 0;
    position: relative;
}

/*comment part end*/
.grid .portfolio-item {
    margin-bottom: 30px;
}
.grid .portfolio-item img {
    float: left;
    height: 72px;
    width: 72px;
}
.single-blog-area .grid .portfolio-item .portfolio-text {
    margin-left: 110px;
}
.single-blog-area .grid .portfolio-item .portfolio-text h5 {
    margin: 0
}
.single-blog-area .grid .portfolio-item .portfolio-text h5 a {
    color: #000;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    text-decoration: none;
}
.single-blog-area .grid .portfolio-item .portfolio-text p {
    font-family: Geometria;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #b2b2b2;
}
.single-blog-area .grid .portfolio-item .portfolio-text p span {
    margin: 0 10px;
}
.single-blog-area .button-group button {
    border: medium none;
    border-radius: 0;
    color: #000;
    display: inline-block;
    font-family: Geometria;
    font-size: 13px;
    font-weight: 500;
    margin-right: -2px;
    padding: 21px;
    text-transform: uppercase;
    width: 33%;
}
.single-blog-area .button-group {
    margin: 40px 0;
}
.single-blog-area .button-group button.is-checked {
    background: #40c4ff;
    color: #fff;
}
.single-blog-area .button-group button:hover {
    background: #40c4ff;
    color: #fff;
}
.single-blog-area .sidebar-ads {
    width: 300px;
    position: relative;
}
.single-blog-area .sidebar-ads p {
    color: #fff;
    font-family: Geometria;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    top: 85px;
    width: 100%;
}
.single-blog-area h2.sidebar-title {
    background: #efefef none repeat scroll 0 0;
    color: #000;
    font-family: Geometria;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 21px 25px;
    text-transform: uppercase;
}
.single-blog-area .tags p {
    background: #40c4ff none repeat scroll 0 0;
    border-radius: 5px;
    display: inline-block;
    font-family: Geometria;
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    padding: 0 12px;
    margin-bottom: 7px;
}
.single-blog-area .tags p a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.single-blog-area .newsletter form {
    margin: 30px 0 0;
}
.single-blog-area .newsletter input[type="email"] {
    width: 50%;
    margin-right: 20px;
}
.single-blog-area .newsletter input[type="submit"] {
    width: 40%;
    background: #40c4ff;
    color: #fff;
    text-transform: uppercase;
    font-family: Geometria;
    font-size: 15px;
    font-weight: 500;
}

.footer {
  /* Ваши стили для футера */
  position: fixed;
  left: 0;
  bottom: -100px; /* Начальное положение футера за пределами экрана */
  width: 100%;
  height: 100px; /* Высота футера */
  background-color: #f2f2f2;
}

.footer.show {
  bottom: 0; /* Положение футера при показе */
  transition: bottom 0.3s ease-in-out; /* Анимация показа/скрытия футера */
}


    </style>
    <style type="text/css">
    body {
				font-family: Arial, Verdana, sans-serif;
				font-size: 90%;
				color: #666;
				background-color: #f8f8f8;}
			li {
				list-style-image: url("images/icon-plus.png");
				line-height: 1.6em;}
			table {
				border-spacing: 0px;
				margin-bottom: 166px;}
			th, td {
				padding: 5px 30px 5px 10px;
				border-spacing: 0px;
				font-size: 90%;
				margin: 0px;}
			th, td {
				text-align: left;
				background-color: #e0e9f0;
				border-top: 1px solid #f1f8fe;
				border-bottom: 1px solid #cbd2d8;
				border-right: 1px solid #cbd2d8;}
			tr.head th {
				color: #fff;
				background-color: #90b4d6;
				border-bottom: 2px solid #547ca0;
				border-right: 1px solid #749abe;
				border-top: 1px solid #90b4d6;
				text-align: center;
				text-shadow: -1px -1px 1px #666666;
				letter-spacing: 0.15em;}
			td {
				text-shadow: 1px 1px 1px #ffffff;}
			tr.even td, tr.even th {
				background-color: #e8eff5;}
			tr.head th:first-child {
				-webkit-border-top-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;}
			tr.head th:last-child {
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;}
			fieldset {
				width: 310px;
				margin-top: 20px;
				border: 1px solid #d6d6d6;
				background-color: #ffffff;
				line-height: 1.6em;}
			legend {
				font-style: italic;
				color: #666666;}
			input[type="text"] {
				width: 120px;
				border: 1px solid #d6d6d6;
				padding: 2px;
				outline: none;}
			input[type="text"]:focus,
			input[type="text"]:hover {
				background-color: #d0e2f0;
				border: 1px solid #999999;}
			input[type="submit"] {
				border: 1px solid #006633;
				background-color: #009966;
				color: #ffffff;
				border-radius: 5px;
				padding: 5px;
				margin-top: 10px;}
			input[type="submit"]:hover {
				border: 1px solid #006633;
				background-color: #00CC33;
				color: #ffffff;
				cursor: pointer;}
			.title {
				float: left;
				width: 160px;
				clear: left;}
			.submit {
				width: 310px;
				text-align: center;}
    </style>
    <style type="text/css">
    h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form_settings p {
  margin-bottom: 15px;
}

.form_settings span {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.form_settings input,
.form_settings textarea {
  background: #134b57;
    width: 60%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
    border: 0;
    background: #222;
    color: #fff;
    outline: none;
    font-size: 15px;
}
}

.form_settings .textarea {
  height: 150px;
}

.form_settings .submit {
  background: black;
    color: white;
    padding: 8px 20px;
    border: 0;
    width: 23%;
    margin-left: 43%;
}

.form_settings .submit:hover {
  background-color: #286090;
}

.form_settings .submit:active {
  background-color: #204d74;
}
</style>
    <style type="text/css">
    .weather_text {
        margin-bottom: 2px;}
    .weather_temp {
        margin: 2px;}
    .weather_ind {
        margin: 2px;}
    .weather {
        display: flex;
        flex-direction: column;
        align-items: flex-end;}
    .weather_block {
        display: flex;
        justify-content: space-around;}
    .contact {
        margin: 12px 35px 291px 55px;
    }
    .category_list {
        margin-top: 30px;
        height: 450px;}

    .category {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 140px 0px 0px;
}
    .users {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 90px 0px 0px;
    }
    .courses {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 90px 0px 0px;
}
    .category_form {
        margin-left: -30px;
        margin-top: 35px;}
    .courses_form {
        margin-top: 34px;
        height: 450px;}
    .name_course {
    margin: 10px 0px 10px 0px;}
    .button_course {
    margin-top: 20px;}
    .form_users {
    margin: 40px;
    height: 400px;}
    .form_users input {
    margin: 10px;}

    </style>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/active.js"></script>
    <script>

    window.addEventListener('scroll', function() {
      var windowHeight = window.innerHeight;
      var scrollHeight = window.scrollY || document.documentElement.scrollTop;

      var documentHeight = Math.max(
        document.body.scrollHeight,
        document.body.offsetHeight,
        document.documentElement.clientHeight,
        document.documentElement.scrollHeight,
        document.documentElement.offsetHeight
      );

      if (windowHeight + scrollHeight >= documentHeight) {

        document.querySelector('.footer').classList.add('show');
      } else {

        document.querySelector('.footer').classList.remove('show');
      }
    });

    </script>
